body{
padding-top:70px;
}

/* HERO */
.hero{
height:100vh;
background-image:url("../imagenes/hero.jpg");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
}

/* TARJETAS */
.destino-card{
transition:transform 0.3s;
height:100%;
display:flex;
flex-direction:column;
}

.destino-card img{
height:250px;
object-fit:cover;
}

.destino-card .card-body{
flex-grow:1;
}

.destino-card:hover{
transform:translateY(-10px);
box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* PARALLAX */
.parallax{
background-image:url("../imagenes/mapamundi.png");
height:400px;
background-attachment:fixed;
background-position:center;
background-repeat:no-repeat;
background-size:cover;
display:flex;
align-items:center;
}