body{
padding-top:70px;
}

/* HERO */
.hero{
height:100vh;
background-image:url("../imagenes/valle.jpg");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
}

/* OCIO */
#ocioTitulo{
 font-style: italic;
 text-align: left;
 transition: transform 0.1s ease;
}
#ocioTexto{
 transition: transform 1s ease;
}
#ocioFoto{
 transition: transform 2s ease;
}

/* GASTRONOMÍA */
#gastronomiaTitulo{
 font-style: italic;
 text-align: left;
 transition: transform 0.1s ease;
}
#gastronomiaTexto{
 transition: transform 1s ease;
}
#gastronomiaFoto{
 transition: transform 2s ease;
}

/* HISTORIA */
#historiaTitulo{
 text-align: center;
 font-style: italic;
 transition: transform 0.1s ease;
}
#historiaTexto{
 text-align: center;
 transition: transform 1s ease;
}
#historiaFoto{
 transition: transform 2s ease;
}

/* Titulos */
#ocioTitulo:hover, #gastronomiaTitulo:hover, #historiaTitulo:hover {
 transform: scale(1.3);
}

/* Textos */
#ocioTexto:hover, #gastronomiaTexto:hover, #historiaTexto:hover {
 transform: scale(1.01);
}

/* Fotos */     
#ocioFoto:hover, #gastronomiaFoto:hover, #historiaFoto:hover {
 transform: scale(1.15);
}   